
</div>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img <%= image_tag '1.jpg' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Bootstrap Carousel Fullscreen</h1>
            <p class="lead">Just turns the Twitter Bootstrap Carousel in fullscreen mode, and scale to fit the screen resolution</p>
          </div>
        </div>
      </div>

      <div class="item">
        <img <%= image_tag '2.jpg' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Bootstrap Carousel Fullscreen</h1>
            <p class="lead">Just turns the Twitter Bootstrap Carousel in fullscreen mode, and scale to fit the screen resolution</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img <%= image_tag '3.jpg' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Bootstrap Carousel Fullscreen</h1>
            <p class="lead">Just turns the Twitter Bootstrap Carousel in fullscreen mode, and scale to fit the screen resolution</p>
          </div>
        </div>
      </div>
      <div class="item">
        <img <%= image_tag '4.jpg' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Bootstrap Carousel Fullscreen</h1>
            <p class="lead">Just turns the Twitter Bootstrap Carousel in fullscreen mode, and scale to fit the screen resolution</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>