<!DOCTYPE html>
<html>
<head>
  <title>Mary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-inner">
				<div class="container">
				<a href="#"><h3>Mary</h3></a>
				</div>
			</div>
		</nav>
<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
